

# etc
*.json
# 기본적으로 .data는 추적함
!.data/

# 해당 폴더 내부는 모두 추적
!.data/qdrant/
!.data/qdrant/data/
!.data/qdrant/data/collections/

# 단, 특정 폴더만 무시
.data/qdrant/data/collections/furniture_embeddings/
.data/gcs_furniture_csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.env

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/


# macOS
.DS_Store
